[submodule "vim/plugin_src/tagbar"]
	path = vim/plugin_src/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/plugin_src/sort-python-imports"]
	path = vim/plugin_src/sort-python-imports
	url = https://github.com/vim-scripts/sort-python-imports
[submodule "vim/plugin_src/nerdtree"]
	path = vim/plugin_src/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/plugin_src/pydiction"]
	path = vim/plugin_src/pydiction
	url = git://github.com/vim-scripts/Pydiction.git
[submodule "vim/plugin_src/snippets"]
	path = vim/plugin_src/snippets
	url = git://github.com/vim-scripts/snippetsEmu.git
[submodule "vim/plugin_src/nerdcommenter"]
	path = vim/plugin_src/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/plugin_src/vcscommand"]
	path = vim/plugin_src/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "vim/plugin_src/pyflakes"]
	path = vim/plugin_src/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "vim/plugin_src/highlight"]
	path = vim/plugin_src/highlight
	url = git://github.com/vim-scripts/highlight.vim.git
[submodule "vim/plugin_src/pathogen"]
	path = vim/plugin_src/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/fugitive.git"]
	path = vim/bundle/fugitive.git
	url = git://github.com/tpope/vim-fugitive.git
